# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Eclipse / STS
.classpath
.project
.settings/
.metadata/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env